.page {
    background-color: white;
    text-align: center;
    color: black;
    padding-top: 100px;
    padding-bottom: 30px;
}

.page h1{
    font-size: 80px;
}

.blog {
    justify-content: center;
    padding-left: 10%;
    padding-right: 10%;
}
.md {
    font-size: 1.2rem;
    line-height: 1.5;
    margin: 0 0 1.5rem 0;
    padding: 0;
    text-align: justify;
    color: black;
}

.md h1{
    background: linear-gradient(transparent 60%, rgba(135, 135, 135, 0.287) 30%);
}

.md h2{
    background: linear-gradient(transparent 0%, rgb(255, 113, 113) 30%);
}

.md a{
    text-decoration: none;
}
