.history {
    background-color: rgb(255, 157, 0);
    padding-top: 100px;
}

.title {
    text-align: center;
    margin-bottom: 50px;
    background-color: rgb(97, 205, 19);
    color: rgb(0, 0, 0);
    font-size: 50px;
}

.timeline {
    position: relative;
    padding: 20px 0;
    margin: 0 auto;
    max-width: 800px;
    /* 最大幅を指定 */
}

.item {
    padding: 20px;
    background: #f2f2f2;
    position: relative;
    border-radius: 6px;
    box-shadow: 0 3px 20px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    margin-left: 70px;
    /* 左の余白を指定 */
    max-width: calc(100% - 70px);
    /* 最大幅を指定 */
}

.item h3 {
    margin-top: 0;
    margin-bottom: 10px;
    color: #007bff;
}

.item h4 {
    margin-top: 0;
    margin-bottom: 5px;
    color: #007bff;
}

.item p {
    margin-bottom: 0;
    color: #000;
}

.date {
    margin-top: 10px;
    color: #aaa;
}

.link {
    color: #f00;
    text-decoration: none;
    transition: all 0.3s ease;
}

.timeline::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 50%;
    /* 左端から50%の位置に */
    width: 5px;
    height: 100%;
    background-color: #ccc;
    /* 線の色 */
    transform: translateX(-50%);
    /* 中心に */
}

.timeline li {
    list-style-type: none;
    position: relative;
    padding-left: 50px;
    margin-bottom: 50px;
}