.description {
    font-size: 200%;
    text-align: center;
    color: black;
    /* background-color: antiquewhite; */
    border-radius: 10px;
}

@media screen and (min-width:1025px) {
    .tweet {
        padding-top: 100px;
        display: flex;
        justify-content: space-around;
    }
}