.profile {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 0 20px;
    padding-top: 40px;
    padding-bottom: 40px;
    text-align: center;
}

.title {
    font-size: 50px;
    margin: 0;
    padding: 0;
    padding-top: 150px;
    text-align: center;
}

.profile h2 {
    font-size: 30px;
    margin-left: 20px;
}

.profile p {
    font-size: 20px;
    margin-left: 20px;
}

.main {
    background-size: cover;
    color: rgb(0, 0, 0);
}