.header {
    display: flex;
    align-items: center;
    width: 100%;
    height: auto;
    padding: 0 40px;
    z-index: 50;
    position: fixed;
    background-color: white;
    top: 0;
    left: 0;
}

.header .logo {
    font-size: 20px;
}

.header nav {
    margin-left: auto;
}

.header li {
    display: inline-block;
    margin-right: 15px;
    list-style-type: none !important;
}

.header li:nth-child(6) {
    background-color: rgb(147, 225, 225);
    color: white;
    width: 90px;
    padding: 5px 10px;
    margin-right: 0;
}

@media (max-width: 1024px) {
    .header {
        position: static;
        /* 修正 */
        background-color: white;
    }

    .header nav {
        display: none;
    }
}

.humburger {
    background-color: rgb(34, 35, 36);
    color: white;
    padding: 10px 5px 0 5px;
    display: none;
    cursor: pointer;
    position: fixed;
    top: 20px;
    right: 40px;
    z-index: 1000; 
}

.humburger span {
    background-color: white;
    width: 30px;
    height: 1px;
    display: block;
    margin-bottom: 7px;
}

.humburger span:nth-child(1) {
    width: 20px;
    margin-left: 10px;
}

.humburger p {
    font-size: 13px;
    margin-top: -4px;
    margin-bottom: 5px;
}

.drawerMenu {
    width: 0;
    color: white;
    background-color: rgb(147, 225, 225);
    transition: 0.5s;
    height: 0;
    opacity: 0;
    z-index: -100;
}

.drawerMenu.open {
    height: 100vh;
    opacity: 1;
    z-index: 100;
}

@media (max-width: 1024px) {
    .header {
        padding: 0 20px;
        background-color: white;
    }

    .header .logo {
        margin-top: 25px;
    }

    .container {
        margin: 0 0 0 auto;
    }

    .humburger {
        display: block;
        z-index: 1000;
    }

    .drawerMenu {
        width: 100%;
        position: fixed;
        top: 0;
    }

    .drawerMenu ul {
        width: 90%;
        margin: 0 auto;
    }

    .drawerMenu li {
        margin-bottom: 25px;
        opacity: 0.8;
        font-family: "Josefin Sans", sans-serif;
        font-weight: 200;
    }

    .mobileLogo {
        width: 250px;
        height: 80px;
        display: inline-block;
        position: absolute;
        top: 0px;
    }

    .mainTitle {
        font-size: 28px;
        margin-bottom: 5px;
        letter-spacing: 2px;
    }

    .subTitle {
        font-size: 15px;
    }

    .close {
        cursor: pointer;
        margin-top: 28px;
        padding-right: 5px;
        color: black;
        background-color: white;
        text-align: center;
        font-size: 150%;
        margin-right: 10%;
    }

    .close span:first-child {
        transform: translateY(6px) rotate(150deg);
    }

    .close span:nth-child(2) {
        transform: translateY(-6px) rotate(-150deg);
        margin-bottom: 0;
    }

    .close p {
        text-align: right;
        font-size: 11px;
        padding-right: 1px;
    }
}

@media (max-width: 600px) {
    .header {
        padding: 0 20px;
        background-color: white;
    }

    .humburger {
        top: 15px;
        right: 20px;
    }

    .mobileLogo {
        width: 190px;
        height: 60px;
        top: 10px;
    }
}

@media (max-width: 340px) {
    .header {
        padding: 0 10px;
        background-color: white;
    }

    .header .logo {
        width: 170px;
        height: 60px;
    }
}