.menu {
    color: white;
    display: flex;
    justify-content: space-between;
    list-style: none;
    align-items: center;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    background-color: #e1dee8;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: relative;
    z-index: 100;
}

.menu li {
    padding-left: 10px;
    font-size: 30px;
}
