/* SNS */
.sns {
    background-color: #f9f9f9;
    padding: 50px;
}

.sns_container {
    display: flex;
    gap: 20px; /* ここで間隔を設定 */
    justify-content: center;
}


.sns h2 {
    margin-top: 0%;
    margin-bottom: 50px;
    font-size: 60px;
    color: #000;
    text-align: center;
}